<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}

  <body>
    {{partial "search.html" .}}
    <div class="singlePage">
      <!-- Begin actual content -->
      {{partial "header.html" .}}
      <article>
        {{if .Title}}
        <h1>{{ .Title }}</h1>
        {{end}}
      </article>

      <article>
        {{partial "textprocessing.html" . }} 
      </article>

      {{if $.Site.Data.config.enableFooter}}
      <div class="page-end-integrated" id="footer">
        <div>
            {{partial "graph.html" .}}
        </div>
      </div>
      {{end}}
      {{partial "contact.html" .}}
    </div>
  </body>
</html>
