<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
    {{partial "search.html" .}}
    {{partial "header.html" .}}
    <div class="singlePage" style="padding: 0; margin: 0; width: 100%;">
        <div class="blur-element"></div>
        <div class="section-container">
            {{partial "docsmenu.html" . }}
            
            <div class="section-content">
                {{if $.Site.Data.config.enableFooter}} {{if $.Site.Data.graphConfig.enableGlobalGraph}}
                    <div class="global-graph-container" id="footer">
                        <div>
                            {{ partial "global-graph.html" . }}
                        </div>
                    </div>
                {{end}} {{end}}
        
                {{if $.Site.Data.config.enableRecentNotes}}
                    {{partial "recent.html" . }} 
                {{end}}
            </div>

        </div>
    </div>
{{partial "contact.html" .}}
</body>
</html>