<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
  {{partial "search.html" .}}
  {{partial "header.html" .}}
  <div class="singlePage" style="padding: 0; margin: 0; width: 100%;">
    <div class="blur-element"></div>
    <div class="section-container single-container">
      {{partial "graph-tool.html" . }}
      {{partial "docsmenu.html" . }}
      
      <div class="single-content">
        {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
        <p class="meta">
          {{ i18n "last_updated" }} - {{ partial "date-fmt.html" .}} 
          {{partial "github.html" . }}
        </p>
        <ul class="tags">
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">
          {{if (eq $.Site.Language.Lang "ko")}}
            {{ .LinkTitle | humanize }}
          {{else}}
            {{ .LinkTitle }}
          {{end}}
            </a>
           </li>
          {{ end }}
        </ul>
        {{partial "toc.html" . }}
        {{partial "textprocessing.html" . }}
        {{partial "github-comment.html" . }}
      </div>
      {{partial "singlemenu.html" . }}
    </div>
    {{partial "scrollbtn.html" .}}
    <script>
      global_init()
    </script>
  </div>
  {{partial "contact.html" .}}
  
</body>
</html>