// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #284b63;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
  --toctitle: #284b63;
  --tocscrollbar: #c3ddf7;
  --tocscroll: #bed0db;
  --tocscrollactive: #284b63;
  --basic: none;
}

[saved-theme="dark"] {
  --light: #272b34 !important;
  --dark: #fbfffe !important;
  --secondary: #91b8d2 !important;
  --visited: #91b8d2 !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #91b8d2 !important;
  --highlighted: #574010;
  --toctitle: #91b8d2 !important;
  --tocscrollbar: #91b8d2 !important;
  --tocscroll: #576269 !important;
  --tocscrollactive: #89cefc !important;
  --basic: #ffffff;
}



