<!-- set data/config yaml file based on website language -->
{{ $config := cond (eq $.Site.Language.Lang "ko") "config" (printf "config.%s" $.Site.Language.Lang) }}
{{ $data := index $.Site.Data $config }}
<!-- Contact Info -->
<div id="contact_buttons">
    <footer>
        {{ $name := $data.name | default $.Site.Data.config.name }}
        {{ $year := dateFormat "2006" now }}
        <p style="margin-bottom: 0;">{{ i18n "copyright" (dict "name" $name "year" $year) | safeHTML}}</p>
        <p style="margin-top: 0;">
            <a href="https://github.com/Shin-Jae-Yoon/Shin-Jae-Yoon.github.io">Dev Uni</a> has customized it by adding a few features.
        </p>
        <ul>
            <li><a href="https://github.com/Shin-Jae-Yoon"><i class="fab fa-github"></i></a></li>
            <li><a href="https://jae-yoon.tistory.com/"><i class="fa-solid fa-tenge-sign"></i></a></li>
            <li><a href="mailto:wlwhsvkdlxh@gmail.com"><i class="fa-solid fa-envelope"></i></a></li>
        </ul>
    </footer>
</div>
