<article>
    <div class="main-index">
      <section class="main-index-section">
        <div class="main-index-one">
          <!-- <img src="/images/logo-main.png"> -->
          <p>
          DEV UNI'S
            <span>
              SECOND BRAIN
            </span>
            &mdash; start exploring my brain &mdash;
          </p>
        </div>
        <div class="main-index-two">
          <p>
            제텔카스텐 기법으로 구성된 <br> 
            저의 두 번째 뇌에 오신것을 환영합니다.
          </p>
        </div>
        <div class="main-index-three">
          <p>
            때때로, 디지털 정원으로도 불리는 이곳에서는 <br> 
            단편적인 개발 지식을 새롭고 통합된 지식으로 전환합니다. <br>
            천천히 저의 자그마한 정원을 둘러보며, <br>
            생각이라는 작은 씨앗들이 어떻게 자라며 연결되는지 확인해보세요
          </p>
        </div>
        <div class="main-index-four">
          <a href="{{ $.Site.BaseURL}}brain/"><button>바로가기</button></a>
        </div>
      </section>
    </div>
    <div class="main-middle">
      <p>집중해서 공부중인 기술 스택</p>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <div class="flex-item-img">
          <img style="height: 80%; margin-top: 0.5em;" src="/images/logo-java.png" alt="">
        </div>
          <h3>Java Developer</h3>
          <p>Java 8 / Java 11 / Java 17</p>
      </div>
      <div class="flex-item">
        <div class="flex-item-img">
          <img src="/images/logo-spring.png" alt="">
        </div>
          <h3>Spring Developer</h3>
          <p>Spring Boot + JPA + Querydsl</p>
      </div>
      <div class="flex-item">
        <div class="flex-item-img">
          <img style="height: 80%; margin-top: 1em;" src="/images/logo-aws.png" alt="">
        </div>
          <h3>AWS service</h3>
          <p>EC2 + RDS</p>
      </div>
      <div class="flex-item">
        <div class="flex-item-img">
          <img style="height: 75%; margin-top: 0.5em;" src="/images/logo-mysql.png" alt="">
        </div>
          <h3>MySQL</h3>
          <p>MySQL, PostgreSQL, Oracle</p>
      </div>
      <div class="flex-item">
        <div class="flex-item-img">
          <img style="height: 80%; margin-left: 0.5em; margin-top: 0.5em;" src="/images/logo-docker.png" alt="">
        </div>
          <h3>Docker</h3>
          <p>쿠버네티스 환경</p>
      </div>
      <div class="flex-item">
        <div class="flex-item-img">
          <img style="height: 80%; margin-top: 0.5em;" src="/images/logo-git.png" alt="">
        </div>
          <h3>Git</h3>
          <p>Git + Git Flow</p>
      </div>
    </div>
  </article>