<header style="
min-width: 35em; 
display: flex; 
justify-content: 
space-between; 
align-items: center; 
margin-top: 0;">	
	<div>
	<p></p>
	</div>
	<ul style="list-style: none; display: flex; margin-right: 1em; font-size: 1.2rem;">
	<li style="margin-right: 1em;"><a href="{{ $.Site.BaseURL}}">{{ i18n "home" }}</a></li>
	<li style="margin-right: 1em;"><a href="{{ $.Site.BaseURL}}">{{ i18n "about" }}</a></li>
	<li style="margin-right: 1em;"><a href="{{ $.Site.BaseURL}}">{{ i18n "til" }}</a></li>
	<li><a href="https://www.naver.com">{{ i18n "interview" }}</a></li>
	</ul>
</header>