{{ $hasHeaders := gt (len (findRE "<h\\d.*?>(.|\n)*?</h\\d>" .Content)) 0 }}
{{ if (or (and (not $.Site.Data.config.enableToc) .Params.enableToc) (and $.Site.Data.config.enableToc (ne .Params.enableToc false) $hasHeaders)) }}
<div class="asideTOCbox">
    <aside class="asideTOC" id="asideTOC">
        <strong><p>{{ i18n "toc" }}</p></strong>
        {{ .TableOfContents }}
    </aside>
</div>
<script>
    document.addEventListener('scroll', function(e) {
        console.log('gkdl');
        custom_init();
    }, {once: true})
</script>
{{ end }}